In [1]:
x = 5
y = 10


sum = x + y
print(sum)

15

In [2]:
x = 10
y = 5
print(x**y)
print(y*x)
print(y/x)

100000
50
0.5

In [3]:
x = 10.5
y = 5
z = x + y
type (z)

float

In [4]:
type(x)

float

In [5]:
a = "20"
b = "30"
c = a + b
print (c)

2030

In [6]:
r = 2
pi = 3.14
area = pi*r**2
print(area)

12.56

In [7]:
name = 'Dawid'
job = 'Intellignce Analyst'

longer_string = "My name is "+ name + " " + "and I am a " + job
print(longer_string)


# super useful - f string
phrase = f"My name is {name} and I am a {job}"
print(phrase)

My name is Dawid and I am a Intellignce Analyst
My name is Dawid and I am a Intellignce Analyst

In [8]:
name = 'Steph'
surname = 'Curry'
team = "Golden State Warriors"

phrase = f"My favouring player is {name} {surname} and he plays for the team called {team}"

print(phrase)

My favouring player is Steph Curry and he plays for the team called Golden State Warriors

In [9]:
cin_plan = 666
total_pop = 15000
rp10k = (cin_plan / total_pop) * 10000
explanations = f" The rate of cin plans per 10k children is {rp10k}"
print(explanations)

 The rate of cin plans per 10k children is 444.0

In [10]:
filename = "c://desktop/data/903_header.csv"
print(filename)

substring = filename[10]
print(substring)

substring2 = filename[12:20]
print(substring2)

substring3 = filename[-4:]
print(substring3)

substring4 = filename[17:-4]
print(substring4)

long_phrase = f"The file name is: {substring4}"
print(long_phrase)

c://desktop/data/903_header.csv
p
data/903
.csv
903_header
The file name is: 903_header

In [11]:
phrase = "Dawid Tycki"
reversed = phrase[-1::-1]
print(reversed)

ikcyT diwaD

In [12]:
slice_this_phrase = 'dog cat racoon'

d = slice_this_phrase[0:3]
c = slice_this_phrase[4:7]
r = slice_this_phrase[8:]
print(d)
print(c)
print(r)

dog
cat
racoon

In [13]:
list_1 = [1,2,3,4,phrase,long_phrase,"hi",d,c,d]
print(type(list_1))
print(list_1)

<class 'list'>
[1, 2, 3, 4, 'Dawid Tycki', 'The file name is: 903_header', 'hi', 'dog', 'cat', 'dog']

In [14]:
colours = ['red','blue','green','purple']
print(colours)
print(colours[-1::-1])
print(colours[2:])

['red', 'blue', 'green', 'purple']
['purple', 'green', 'blue', 'red']
['green', 'purple']

In [15]:
colours = ['red','blue','green','purple']
colours.append(['teal','orange'])  #append will add not as elements but as a list within a list, use extend instead
print(colours)
print(colours[4])
print(colours[4][0])

['red', 'blue', 'green', 'purple', ['teal', 'orange']]
['teal', 'orange']
teal

In [16]:
colours = ['red','blue','green','purple']
more_colours = ['bronw','gold','white']

colours.extend(more_colours)
print(colours)
colours.append('gold')
print(colours)

['red', 'blue', 'green', 'purple', 'bronw', 'gold', 'white']
['red', 'blue', 'green', 'purple', 'bronw', 'gold', 'white', 'gold']

In [17]:
colours.remove('gold') # removes the first instance of 'gold'
print(colours)

['red', 'blue', 'green', 'purple', 'bronw', 'white', 'gold']

In [18]:
my_string = "here's a string"

Session 2

In [22]:
num_1 = 1
num_2 = 2.0
name = 'Dawid'
list_x = [1,2,3,4]

print(type(list_x))

list_x.append([10,11,23])
list_x.extend([4,6,6,6,6,6])
list_x

<class 'list'>

[1, 2, 3, 4, [10, 11, 23], 4, 6, 6, 6, 6, 6]

In [25]:
list_x[1::2]

[2, 4, 4, 6, 6]

In [26]:
list_2 = range(11)
print(list_2)

range(0, 11)

In [27]:
list_2 = list(range(11))
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
num_2 = str(num_2)
print(type(num_2))

<class 'str'>

In [30]:
num_2 = float(num_2)  # as this string was 2.0, we cannot convert it to int - othwersie, convert str to float to int
print(type(num_2))

<class 'float'>

In [31]:
numbers_list = [2,4,3,5,1,6]
print(numbers_list)

[2, 4, 3, 5, 1, 6]

In [33]:
numbers_list.sort()
print(numbers_list)

numbers_list.sort(reverse=True)
print(numbers_list)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [35]:
dict_1 = {'key1':'value','key2':'value'} # each pair is an entry
print(type(dict_1))

<class 'dict'>

In [36]:
dawid= {'Name':'Dawid',
        'Job title':'Analyst',
        'Hours':'36',
        'Salary':50}


colours_dict = {'Will':dawid,
                'Roman':['black','blue'],
                'Daniela':14,
                'Julka':{'Monday':'Red',
                         'Sunday':'Orange',
                         'Others':'Black'}}

In [37]:
foods = {'KFC':['Buckets','fillets'],
         'Mac':'burgers',
         'Wendys':{'Weekdays':'ultra processed',
                   'Weekends':'super healthy'},
        'Domek':'mama food'}

In [50]:
print(foods.keys())
print(foods.values())

print(foods.items())  # items of tuples

print('Curry house' in foods)
print('Wendys' in foods)

dict_keys(['KFC', 'Mac', 'Wendys', 'Domek', 'Kebab shop'])
dict_values([['Buckets', 'fillets'], 'burgers', {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'}, 'mama food', 'Kebabs'])
dict_items([('KFC', ['Buckets', 'fillets']), ('Mac', 'burgers'), ('Wendys', {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'}), ('Domek', 'mama food'), ('Kebab shop', 'Kebabs')])
False
True

In [44]:
foods['Wendys']

{'Weekdays': 'ultra processed', 'Weekends': 'super healthy'}

In [47]:
foods['Kebab shop'] = 'Kebabs'
foods

{'KFC': ['Buckets', 'fillets'],
 'Mac': 'burgers',
 'Wendys': {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'},
 'Domek': 'mama food',
 'Kebab shop': 'Kebabs'}

In [51]:
foods["Joy's food"] = ['green curry','fried chicken','most amazing foods']
foods

{'KFC': ['Buckets', 'fillets'],
 'Mac': 'burgers',
 'Wendys': {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'},
 'Domek': 'mama food',
 'Kebab shop': 'Kebabs',
 "Joy's food": ['green curry', 'fried chicken', 'most amazing foods']}

In [55]:
print(foods.values())
print(foods)
print(foods.items())

dict_values([['Buckets', 'fillets'], 'burgers', {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'}, 'mama food', 'Kebabs', ['green curry', 'fried chicken', 'most amazing foods']])
{'KFC': ['Buckets', 'fillets'], 'Mac': 'burgers', 'Wendys': {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'}, 'Domek': 'mama food', 'Kebab shop': 'Kebabs', "Joy's food": ['green curry', 'fried chicken', 'most amazing foods']}
dict_items([('KFC', ['Buckets', 'fillets']), ('Mac', 'burgers'), ('Wendys', {'Weekdays': 'ultra processed', 'Weekends': 'super healthy'}), ('Domek', 'mama food'), ('Kebab shop', 'Kebabs'), ("Joy's food", ['green curry', 'fried chicken', 'most amazing foods'])])

In [56]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

In [62]:
print(header_fake.head())
print(header_fake.tail())

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN

In [65]:
print(header_fake.info())
header_fake.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

               CHILD          SEX  MOTHER
count    2675.000000  2675.000000     1.0
mean   501946.342430     1.501682     1.0
std    288753.842589     0.500091     NaN
min        32.000000     1.000000     1.0
25%    247684.000000     1.000000     1.0
50%    510000.000000     2.000000     1.0
75%    757149.500000     2.000000     1.0
max    999397.000000     2.000000     1.0

In [67]:
# dict of lists
d_1 = {'Col1':[1,2,3],
       'Col2':['A','B','C'],
       'Col3':['foo','bar','baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)

# list of dicts
df_2 = pd.DataFrame([
    {'column1':1,
     'column2':'A',
     'column3':'foo'},
     {'column1':2,
     'column2':'B',
     'column3':'bar'},
     {'column1':13,
     'column2':'C',
     'column3':'baz'}
]

)
print(df_2)

   Col1 Col2 Col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
   column1 column2 column3
0        1       A     foo
1        2       B     bar
2       13       C     baz

In [68]:
employees = pd.DataFrame([
    {'Forename':'Dawid',
     'Surname':'Tycki',
     'Salary':'48000',
     'Job title':'Intelligence Analyst'},
     {'Forename':'Doug',
     'Surname':'Sharp',
     'Salary':'49000',
     'Job title':'BO Intelligence Analyst'},
     {'Forename':'Soana',
     'Surname':'Pole',
     'Salary':'55000',
     'Job title':'Intelligence Analyst - Team leader'},
     {'Forename':'Paloma',
     'Surname':'Casey',
     'Salary':'49000',
     'Job title':'MARVE Intelligence Analyst'},
     {'Forename':'Pete',
     'Surname':'Leaworthy',
     'Salary':'47000',
     'Job title':'SEN Intelligence Analyst'}

]
)
print(employees)

  Forename    Surname Salary                           Job title
0    Dawid      Tycki  48000                Intelligence Analyst
1     Doug      Sharp  49000             BO Intelligence Analyst
2    Soana       Pole  55000  Intelligence Analyst - Team leader
3   Paloma      Casey  49000          MARVE Intelligence Analyst
4     Pete  Leaworthy  47000            SEN Intelligence Analyst

In [69]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Forename   5 non-null      object
 1   Surname    5 non-null      object
 2   Salary     5 non-null      object
 3   Job title  5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

In [72]:
print(employees['Salary'])
print(employees[['Surname','Job title']])

0    48000
1    49000
2    55000
3    49000
4    47000
Name: Salary, dtype: object
     Surname                           Job title
0      Tycki                Intelligence Analyst
1      Sharp             BO Intelligence Analyst
2       Pole  Intelligence Analyst - Team leader
3      Casey          MARVE Intelligence Analyst
4  Leaworthy            SEN Intelligence Analyst

In [73]:
employees['Salary'] = employees['Salary'].astype('int')
print(employees.dtypes)

Forename     object
Surname      object
Salary        int64
Job title    object
dtype: object

In [75]:
mean_salary = employees['Salary'].mean()
sum_salary = employees['Salary'].sum()
max_salary = employees['Salary'].max()
min_salary = employees['Salary'].min()

print(f"The mean salary is: {mean_salary}")
print(f"The total salary is: {sum_salary}")
print(f"The max and min salaries respectively are {max_salary}, {min_salary}")

The mean salary is: 49600.0
The total salary is: 248000
The max and min salaries respectively are 55000, 47000

In [78]:
employees.describe()

             Salary
count      5.000000
mean   49600.000000
std     3130.495168
min    47000.000000
25%    48000.000000
50%    49000.000000
75%    49000.000000
max    55000.000000