In [4]:
x = 5
y = 10


sum = x + y
print(sum)

15

In [12]:
x = 10
y = 5
print(x**y)
print(y*x)
print(y/x)

100000
50
0.5

In [13]:
x = 10.5
y = 5
z = x + y
type (z)

float

In [14]:
type(x)

float

In [16]:
a = "20"
b = "30"
c = a + b
print (c)

2030

In [17]:
r = 2
pi = 3.14
area = pi*r**2
print(area)

12.56

In [26]:
name = 'Dawid'
job = 'Intellignce Analyst'

longer_string = "My name is "+ name + " " + "and I am a " + job
print(longer_string)


# super useful - f string
phrase = f"My name is {name} and I am a {job}"
print(phrase)

My name is Dawid and I am a Intellignce Analyst
My name is Dawid and I am a Intellignce Analyst

In [27]:
name = 'Steph'
surname = 'Curry'
team = "Golden State Warriors"

phrase = f"My favouring player is {name} {surname} and he plays for the team called {team}"

print(phrase)

My favouring player is Steph Curry and he plays for the team called Golden State Warriors

In [31]:
cin_plan = 666
total_pop = 15000
rp10k = (cin_plan / total_pop) * 10000
explanations = f" The rate of cin plans per 10k children is {rp10k}"
print(explanations)

 The rate of cin plans per 10k children is 444.0

In [40]:
filename = "c://desktop/data/903_header.csv"
print(filename)

substring = filename[10]
print(substring)

substring2 = filename[12:20]
print(substring2)

substring3 = filename[-4:]
print(substring3)

substring4 = filename[17:-4]
print(substring4)

long_phrase = f"The file name is: {substring4}"
print(long_phrase)

c://desktop/data/903_header.csv
p
data/903
.csv
903_header
The file name is: 903_header

In [42]:
phrase = "Dawid Tycki"
reversed = phrase[-1::-1]
print(reversed)

ikcyT diwaD

In [53]:
slice_this_phrase = 'dog cat racoon'

d = slice_this_phrase[0:3]
c = slice_this_phrase[4:7]
r = slice_this_phrase[8:]
print(d)
print(c)
print(r)

dog
cat
racoon

In [61]:
list_1 = [1,2,3,4,phrase,long_phrase,"hi",d,c,d]
print(type(list_1))
print(list_1)

<class 'list'>
[1, 2, 3, 4, 'Dawid Tycki', 'The file name is: 903_header', 'hi', 'dog', 'cat', 'dog']

In [67]:
colours = ['red','blue','green','purple']
print(colours)
print(colours[-1::-1])
print(colours[2:])

['red', 'blue', 'green', 'purple']
['purple', 'green', 'blue', 'red']
['green', 'purple']

In [75]:
colours = ['red','blue','green','purple']
colours.append(['teal','orange'])  #append will add not as elements but as a list within a list, use extend instead
print(colours)
print(colours[4])
print(colours[4][0])

['red', 'blue', 'green', 'purple', ['teal', 'orange']]
['teal', 'orange']
teal

In [80]:
colours = ['red','blue','green','purple']
more_colours = ['bronw','gold','white']

colours.extend(more_colours)
print(colours)
colours.append('gold')
print(colours)

['red', 'blue', 'green', 'purple', 'bronw', 'gold', 'white']
['red', 'blue', 'green', 'purple', 'bronw', 'gold', 'white', 'gold']

In [82]:
colours.remove('gold') # removes the first instance of 'gold'
print(colours)

['blue', 'green', 'purple', 'bronw', 'white', 'gold']

In [ ]:
my_string = "here's a string"